<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://xmlns.jcp.org/xml/ns/javaee"
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
id="WebApp_ID" version="4.0">
<display-name>shopdb</display-name>
<welcome-file-list>
	<welcome-file>main.do</welcome-file>
</welcome-file-list>

<!-- servlet 등록 -->
<servlet>
	<description>설명 : FrontController</description>
	<servlet-name>dispatcherServlet</servlet-name>
	<servlet-class>com.shopdb.main.controller.DispatcherServlet</servlet-class>
	<!-- 서버가 시작될때 확인해서 시작해 주세요. init()실행 -->
	<load-on-startup>1</load-on-startup>
</servlet>

<servlet-mapping>
	<servlet-name>dispatcherServlet</servlet-name>
	<url-pattern>*.do</url-pattern>
</servlet-mapping>

<!-- filter 사용 등록
	<filter>, <filter-mapping> : <filter-name> 을 같은 이름으로 설정
	<filter-class> : 만들어준 class 이름(패키지포함)
	<url-pattern> : 필터가 적용되는 주소
 -->
<filter>
	<filter-name>encoding</filter-name>
	<filter-class>com.shopdb.util.EncodingFilter</filter-class>
</filter>

<filter-mapping>
	<filter-name>encoding</filter-name>
	<url-pattern>*.do</url-pattern>
</filter-mapping>

</web-app>
